################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hacknaquest/v16
*.pyproj
*.sln
*.user
__pycache__
/hacknaquest/env
