{% extends "two_col_base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/user_cabinet/search_quests.css'%}">
{% endblock %}

{% block action_buttons %}
<button id="search_quests">Search Quests</button>
<button id="current_game">Current game</button>
<button id="create_quest">Create quest</button>
{% endblock %}

{% block left_column %}

<div id="left_col">
    <div class="plate">
        <img id="profile_image" alt="" src="{% static 'images/profile_image.jpg' %}"/>
        <button class="but" id="change_info">My Quests</button>
    </div>

    <div class="plate" id="categories">
        <h2>CHOOSE CATEGORY</h2>
        <form id="forms">
            <label>
                <input type="radio" name="category" value="all">
                All
            </label>
            <label>
                <input type="radio" name="category" value="education">
                Education
            </label>
            <label>
                <input type="radio" name="category" value="education">
                Adventures
            </label>
            <label>
                <input type="radio" name="category" value="education">
                Others
            </label>
            <button class="but">Submit</button>
        </form>
    </div>
    <div class="plate" id="sort_by">
        <h2>SORT BY</h2>
        <form id="forms">
            <label>
                <input type="radio" name="category" value="all">
                Name
            </label>
            <label>
                <input type="radio" name="category" value="education">
                Date
            </label>
            <label>
                <input type="radio" name="category" value="education">
                Players
            </label>
            <label>
                <input type="radio" name="category" value="education">
                Ratings
            </label>
            <button class="but">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block right_column %}
<div id="right_col">
    <div class="plate" id="search_bar">
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>


    {% for quest in quests %}
    <div class="plate_quest">
        <div id="plate_quest_left">
            <img alt="" src="{% static 'images/profile_image.jpg' %}"/>
        </div>
        <div id="plate_quest_center">
            <h1>{{quest.title}}</h1>
            <p>{{quest.description}}</p>
            <p>#tag #tag #tag #tag</p>
        </div>
        <div id="plate_quest_right">
            <h1>{{quest.player_amount}}</h1>
            <p>people need more</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}