body{
    margin: 0px;
}

.header{
    font-size: 30px;
    min-height: 50px;
    height: 5vh;
    background-color: rgba(36, 20, 73, 0.918);
    vertical-align: center;
    color: white
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.col-3{
    width: 33%;
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 60vh;
}

.col-2{
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 60vh;    
}
.col-2:nth-child(1){
    width: 25%;
}
.col-2:nth-child(2){
    width: 70%;
}