{% extends "two_col_base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/user_cabinet/search_quests.css'%}">
{% endblock %}

{% block action_buttons %}
{% if page_name == 'My quests' %}
<button id="search_quests">Search quests</button>
{% elif page_name == 'Search Quests' %}
<button id="user_quests">My quests</button>
{% endif %}
<button id="user_cabinet">User cabinet</button>
<button id="current_game">Current game</button>
<button id="create_quest">Create quest</button>
{% endblock %}

{% block left_column %}

<div id="left_col">
    <div class="plate">
        <img id="profile_image" alt="" src="{% static 'images/profile_image.jpg' %}"/>
        <h2>{{ username }}</h2>
    </div>

    <div class="plate" id="categories">
        <h2>CHOOSE CATEGORY</h2>
        <form id="forms">
            <label>
                <input type="radio" name="category" value="all">
                All
            </label>
            <label>
                <input type="radio" name="category" value="education">
                Education
            </label>
            <label>
                <input type="radio" name="category" value="adventures">
                Adventures
            </label>
            <label>
                <input type="radio" name="category" value="others">
                Others
            </label>
            <button class="but">Submit</button>
        </form>
    </div>
    <div class="plate" id="sort_by">
        <h2>SORT BY</h2>
        <form id="forms">
            <label>
                <input type="radio" name="sort_by" value="name">
                Name
            </label>
            <label>
                <input type="radio" name="sort_by" value="date">
                Date
            </label>
            <label>
                <input type="radio" name="sort_by" value="players">
                Players
            </label>
            <label>
                <input type="radio" name="sort_by" value="ratings">
                Ratings
            </label>
            <button class="but">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block right_column %}
<div id="right_col">
    <div class="plate" id="search_bar">
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
<div class="quest_container">
    {% if quests %}
        {% for quest in quests %}
        <div class="plate_quest">
            <div id="plate_quest_left">
                <img alt="" src="{% static 'images/profile_image.jpg' %}"/>
            </div>
            <div id="plate_quest_center">
                <h1 id="title">{{quest.title}}</h1>
                <p>{{quest.description|truncatechars:150}}</p>
                <p>#tag #tag #tag #tag</p>
            </div>
            <div id="plate_quest_right">
                {% if page_name == 'My quests' %}
                    <p>Participants number:</p>
                    <h1>{{quest.player_amount}}</h1>
                {% elif page_name == 'Search Quests' %}
                    {% comment %} TODO This value should depend on amount of players, that already applied {% endcomment %}
                    <h1>{{quest.player_amount}}</h1>
                    <p>people need more</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %} 
        <h2> You haven't create any quests yet. </h2>
    {% endif %}
</div>
</div>

{% endblock %}
{% block scripts %}
<script type="module">
    import {redirect, $} from "{% static 'scripts/common.js' %}"
    import {assign_redirection_to_quests} from "{% static 'scripts/user_cabinet/index.js' %}"
    let redirect_btns = {
        // btn_id: redirect_url
        "current_game":"../../session_manager",
        "create_quest":"../../quest_manager",
        "user_cabinet":"../../user_cabinet",
        "search_quests":"../search_quests",
        "user_quests":"../user_quests"
    };
    // describes where user should be redirected after clicking on quest on page
    let quest_redirection_urls = {
        //page_name, redirect to 
        "My quests": "../../quest_manager/quest_editing",
        "Search Quests": "../quest_description"
    }
    let title = document.getElementsByTagName("title")[0].innerHTML
    document.body.onload = () => assign_redirection_to_quests(quest_redirection_urls[title])
    for (let [btn_id, url] of Object.entries(redirect_btns)) {
        // Method to check if value returned by $(btn_id) is not null
        // If so, right part of the expression will not be evaluated
        $(btn_id) && ($(btn_id).onclick = (_) => redirect(url))
    }


</script>
{% endblock %}
