{% extends "three_col_base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static "styles/quest_manager/style.css" %}">
{% endblock %}
{% block action_buttons %}
<button id="user_cabinet">User cabinet</button>
{% endblock %}

{% block left_column %}
<form id="quest_form">
        {{ quest_form }}
        <button>
            Save quest
        </button>
</form>
{% endblock %}

{% block center %}
<div id="tree_container">
</div>
{% endblock %}

{% block right_column %}
<form id="stage_description">
        {{ stage_form }}
    <button>
        Save stage
    </button>    
</form>
<div class="option-buttons">
    <button id="add_stage">
        Reset stage creation form
    </button>

    <button>
        Delete current stage
    </button>
</div>
{% endblock %}
{% block scripts %}
{% comment %} Library for tree creation {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>

<script type="module">
    import {Quest} from "{% static 'scripts/quest_manager/quest.js' %}"
    import {QuestGui} from "{% static 'scripts/quest_manager/gui_updater.js' %}"
    import {$, formToDict, redirect} from "{% static 'scripts/common.js' %}"
     let redirect_btns = {
        "user_cabinet":"../user_cabinet"
    };
    for (let [btn_id, url] of Object.entries(redirect_btns)) {
        $(btn_id).onclick = (_) => redirect(url)
    }

    let stage_monitor = {
        'stage_title': $('id_stage_title'),
        'stage_task': $('id_stage_task'),
        'stage_location': $('id_stage_location'),
        'correct_answer': $('id_correct_answer')
    }

    //TODO change on events
    let gui = new QuestGui($('tree_container'), stage_monitor)
    let quest = new Quest(sessionStorage.getItem("username"), gui)
    gui.assignQuest(quest)
    
    $("add_stage").onclick = (e) => {
        $("stage_description").reset()
    }
    $("stage_description").onsubmit = (e) => {
        e.preventDefault()
        let form = e.target
        let data = formToDict(form)
        quest.addStage(data)
    }

    $("quest_form").onsubmit = (e) => {
        e.preventDefault()
        gui.prepareSurfaceForTree()
        let form = e.target
         $("stage_description").reset()
        let data = formToDict(form)
        quest.addDescription(data)
        quest.send()
        form.reset()
        }
</script>
{% endblock %}

