{% extends "two_col_base.html" %}
{% load static %}

{%block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
<style>
  .map {
    height: 400px;
    width: 100%;
  }
</style>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'styles/sm_style.css' %}">
{% endblock %}
{% block action_buttons %}
<button id="user_cabinet">User cabinet</button>
{% endblock %}



{% block left_column %}

<div class="row-1">
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button id="check_answer" type="submit">Submit</button>
    </form>
</div>
 
<div class="row-1">
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Task')" id="defaultOpen">Task</button>
        <button class="tablinks" onclick="openTab(event, 'Staus')">Status</button>
        <button class="tablinks" onclick="openTab(event, 'Stages')">Stages</button>
      </div>

      <div id="Task" class="tabcontent">
        <h3>Task</h3>
        <p>Do it</p>
      </div>
      
      <div id="Staus" class="tabcontent">
        <h3>Staus</h3>
        <p>Did it</p>
      </div>
      
      <div id="Stages" class="tabcontent">
        <h3>Stages</h3>
        <p>Will do it</p>
      </div>
</div>

{% endblock left_column %}

{% block right_column %} 
<div id="map" class="map"></div>
    <script type="text/javascript">
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([19.9365800,  50.0614300]),
          zoom: 10
        })
      });
    </script>
{% endblock %}
{%block scripts %}
{% comment %} Packages {% endcomment %}
<script src="{% static "scripts/sm_script.js" %}"></script>
<script type="module">
import {redirect, $} from "{% static 'scripts/common.js' %}"
    let redirect_btns = {
        // btn_id: redirect_url
        "user_cabinet":"../user_cabinet"
    };
    for (let [btn_id, url] of Object.entries(redirect_btns)) {
        $(btn_id).onclick = (_) => redirect(url)
    }
</script>  

{% endblock %}

