{# Defines layout rules (toolbar, container position, etc.), that will be common for all pages.#}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page_name|capfirst }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "styles/base.css" %}">
    {% block styles %}
    {% endblock %}
</head>

<body>
    <div id="page-container">
        <div class="toolbar">
        {% block toolbar %}
            <span>{{ page_name|capfirst }}</span>
            <div class="push">
            {% comment %}
             Placeholder, that guarantees that
             all elements before it will appear at the beggining 
             of toolbar 
            {% endcomment %}
            </div>
            {% block action_buttons %}
            {% endblock %}
        {% endblock %}
        </div>
        <div class="container">        
            {% block container %}
            {% endblock %}
        </div>
    </div>
</body>